<a href="https://colab.research.google.com/github/sgraziano26/Coursera_Capstone/blob/master/CourseraCapstoneFeatureResearch.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [47]:
import pandas as pd
import numpy as np
from sklearn.preprocessing import OneHotEncoder, MinMaxScaler
from sklearn.ensemble import RandomForestClassifier

In [48]:
df = pd.read_csv("Collisions.csv")
df.head()

/usr/local/lib/python3.6/dist-packages/IPython/core/interactiveshell.py:2718: DtypeWarning: Columns (35) have mixed types.Specify dtype option on import or set low_memory=False.
  interactivity=interactivity, compiler=compiler, result=result)

            X          Y  OBJECTID  ...  SEGLANEKEY  CROSSWALKKEY HITPARKEDCAR
0 -122.344896  47.717173         1  ...       15057             0            N
1 -122.376467  47.543774         2  ...           0             0            N
2 -122.360735  47.701487         3  ...           0             0            N
3 -122.297415  47.599233         4  ...           0             0            N
4 -122.368001  47.653585         5  ...           0             0            N

[5 rows x 40 columns]

In [49]:
df2 = df.copy()

In [50]:
df2.dtypes

X                  float64
Y                  float64
OBJECTID             int64
INCKEY               int64
COLDETKEY            int64
REPORTNO            object
STATUS              object
ADDRTYPE            object
INTKEY             float64
LOCATION            object
EXCEPTRSNCODE       object
EXCEPTRSNDESC       object
SEVERITYCODE        object
SEVERITYDESC        object
COLLISIONTYPE       object
PERSONCOUNT          int64
PEDCOUNT             int64
PEDCYLCOUNT          int64
VEHCOUNT             int64
INJURIES             int64
SERIOUSINJURIES      int64
FATALITIES           int64
INCDATE             object
INCDTTM             object
JUNCTIONTYPE        object
SDOT_COLCODE       float64
SDOT_COLDESC        object
INATTENTIONIND      object
UNDERINFL           object
WEATHER             object
ROADCOND            object
LIGHTCOND           object
PEDROWNOTGRNT       object
SDOTCOLNUM         float64
SPEEDING            object
ST_COLCODE          object
ST_COLDESC          object
SEGLANEKEY           int64
CROSSWALKKEY         int64
HITPARKEDCAR        object
dtype: object

In [51]:
#Drop columns
df2.drop(['X','Y','OBJECTID','INCKEY','COLDETKEY','REPORTNO','STATUS','INTKEY','LOCATION','EXCEPTRSNCODE','EXCEPTRSNDESC','SEVERITYDESC','INCDATE','INCDTTM','SDOT_COLDESC','SDOTCOLNUM','ST_COLDESC','SEGLANEKEY','CROSSWALKKEY','ST_COLCODE','SDOT_COLCODE'], axis = 1, inplace=True)

In [52]:
#Change all object fields to lower case for consistency
df2['ADDRTYPE'] = df2['ADDRTYPE'].str.lower()
df2['JUNCTIONTYPE'] = df2['JUNCTIONTYPE'].str.lower()
df2['WEATHER'] = df2['WEATHER'].str.lower()
df2['COLLISIONTYPE'] = df2['COLLISIONTYPE'].str.lower()
df2['ROADCOND'] = df2['ROADCOND'].str.lower()
df2['LIGHTCOND'] = df2['LIGHTCOND'].str.lower()
df2['HITPARKEDCAR'] = df2['HITPARKEDCAR'].str.lower()
df2['SPEEDING'] = df2['SPEEDING'].str.lower()
df2['INATTENTIONIND'] = df2['INATTENTIONIND'].str.lower()
df2['UNDERINFL'] = df2['UNDERINFL'].str.lower()
df2['PEDROWNOTGRNT'] = df2['PEDROWNOTGRNT'].str.lower()

In [53]:
#Turning Flags to Numeric
df2.UNDERINFL.replace(to_replace=['n', 'y'], value=[0, 1], inplace=True)
df2.INATTENTIONIND.replace(to_replace=[ np.NaN, 'y'], value=[0, 1], inplace=True)
df2.HITPARKEDCAR.replace(to_replace=['n', 'y'], value=[0, 1], inplace=True)
df2.SPEEDING.replace(to_replace=['y',  np.NaN], value=[1, 0], inplace=True)
df2.PEDROWNOTGRNT.replace(to_replace=[ np.NaN, 'y'], value=[0, 1], inplace=True)
df2.UNDERINFL =df2.UNDERINFL.astype(float)

In [54]:
#Create target variable and category variables
y = ['SEVERITYCODE']
flags = ['INATTENTIONIND','UNDERINFL','SPEEDING']#,'HITPARKEDCAR','PEDROWNOTGRNT']
cat_columns = ['ROADCOND','LIGHTCOND','WEATHER']#'COLLISIONTYPE','ADDRTYPE','JUNCTIONTYPE',]
numeric_columns = ['VEHCOUNT']#,'FATALITIES','PEDCYLCOUNT','SERIOUSINJURIES','PERSONCOUNT','PEDCOUNT','INJURIES']

In [55]:
from sklearn.impute import SimpleImputer
for f in cat_columns:
  print(f, df2[f].unique())

ROADCOND ['dry' 'wet' nan 'unknown' 'ice' 'other' 'snow/slush' 'standing water'
 'oil' 'sand/mud/dirt']
LIGHTCOND ['daylight' 'dark - street lights on' nan 'dark - no street lights' 'dawn'
 'unknown' 'dark - street lights off' 'dusk' 'other'
 'dark - unknown lighting']
WEATHER ['clear' 'overcast' nan 'raining' 'unknown' 'sleet/hail/freezing rain'
 'other' 'snowing' 'fog/smog/smoke' 'blowing sand/dirt' 'severe crosswind'
 'partly cloudy' 'blowing snow']

In [56]:
#Imputing
imp = SimpleImputer(missing_values=np.nan, strategy='most_frequent')
imp2 =  SimpleImputer(missing_values=np.nan, strategy='mean')
cat_cols = pd.DataFrame(imp.fit_transform(df2[flags+cat_columns]), columns=flags+cat_columns)
num_cols = pd.DataFrame(imp2.fit_transform(df2[numeric_columns]), columns  = numeric_columns)
fdf = pd.concat([cat_cols, num_cols], axis = 1)

In [57]:
#One Hot Encoding
end = OneHotEncoder(sparse=False)
new_cat = end.fit_transform(fdf[cat_columns])
cat_names = end.get_feature_names(input_features = cat_columns)
cat_col_end = pd.DataFrame(new_cat, columns = cat_names)

In [58]:
#Min Max Scaler
scl = MinMaxScaler()
scl.fit(fdf[numeric_columns])
dat = scl.transform(fdf[numeric_columns])
num_col_scl = pd.DataFrame(dat, columns = numeric_columns)
num_col_scl.head()

   VEHCOUNT
0  0.066667
1  0.066667
2  0.133333
3  0.000000
4  0.000000

In [59]:
#Concatenate into a variable all preprocessed columns
fdf2 = pd.concat([fdf[flags],cat_col_end,num_col_scl], axis = 1)

In [60]:
df2.SEVERITYCODE.replace(to_replace=[np.nan], value=['1'], inplace=True)
df2.SEVERITYCODE.isnull().sum()

0

In [61]:
mdl = RandomForestClassifier()
mdl.fit(fdf2, df2.SEVERITYCODE)
mdl.score(fdf2, df2.SEVERITYCODE)

0.7269054368826854

In [62]:
importance = pd.DataFrame(mdl.feature_importances_)

In [63]:
importance['cols'] = fdf2.columns

In [64]:
importance.columns = ['Imp','cols']
importance.sort_values(by = 'Imp', ascending=False)

         Imp                                cols
33  0.794022                            VEHCOUNT
10  0.027129                    ROADCOND_unknown
17  0.023342                  LIGHTCOND_daylight
32  0.021133                     WEATHER_unknown
20  0.019610                   LIGHTCOND_unknown
23  0.018528                       WEATHER_clear
0   0.014538                      INATTENTIONIND
3   0.014427                        ROADCOND_dry
2   0.012948                            SPEEDING
14  0.011227   LIGHTCOND_dark - street lights on
11  0.008621                        ROADCOND_wet
1   0.008228                           UNDERINFL
26  0.006262                    WEATHER_overcast
28  0.004535                     WEATHER_raining
18  0.002593                      LIGHTCOND_dusk
12  0.001620   LIGHTCOND_dark - no street lights
16  0.001444                      LIGHTCOND_dawn
4   0.001372                        ROADCOND_ice
8   0.001165                 ROADCOND_snow/slush
13  0.001107  LIGHTCOND_dark - street lights off
24  0.000989              WEATHER_fog/smog/smoke
31  0.000953                     WEATHER_snowing
25  0.000893                       WEATHER_other
19  0.000579                     LIGHTCOND_other
6   0.000530                      ROADCOND_other
30  0.000496    WEATHER_sleet/hail/freezing rain
9   0.000411             ROADCOND_standing water
5   0.000293                        ROADCOND_oil
7   0.000292              ROADCOND_sand/mud/dirt
21  0.000225           WEATHER_blowing sand/dirt
29  0.000167            WEATHER_severe crosswind
27  0.000152               WEATHER_partly cloudy
15  0.000124   LIGHTCOND_dark - unknown lighting
22  0.000043                WEATHER_blowing snow